# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Build': 'cargo-test-runner:build'
      'Run Cargo tests': 'cargo-test-runner:run'
      'Re-run last Cargo tests': 'cargo-test-runner:run-previous'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'cargo-test-runner'
      'submenu': [
        { 'label': 'Build', 'command': 'cargo-test-runner:build' },
        { 'label': 'Run tests', 'command': 'cargo-test-runner:run' },
        { 'label': 'Re-run last tests', 'command': 'cargo-test-runner:run-previous'}
      ]
    ]
  }
]
